flows.json
[{"id":"5e0dcbc3.aa3e5c","type":"tab","label":"domo in","disabled":false,"info":"Récupères les infos sur le broker et les met en forme pour domoticz"},{"id":"59bdc562.6ab37c","type":"tab","label":"Domo out","disabled":false,"info":"Publie certains états d'éléments domoticz sur le broker, en particulier pour Z-Wave"},{"id":"5c494fe1.cdf86","type":"tab","label":"log to influxdb","disabled":false,"info":""},{"id":"e9177b3e.ed3a3","type":"tab","label":"Chauffage","disabled":false,"info":""},{"id":"93fb2356.b25778","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"10.4.253.240","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8c5b23c0.6fce88","type":"influxdb","z":"","hostname":"10.4.253.200","port":"8086","protocol":"http","database":"meze","name":"","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://10.4.253.200:8086","rejectUnauthorized":true},{"id":"c59d8fbf.b9d55","type":"mqtt out","z":"5e0dcbc3.aa3e5c","name":"Send MQTT","topic":"","qos":"","retain":"","broker":"93fb2356.b25778","x":1430,"y":1060,"wires":[]},{"id":"5a834640.40d15","type":"comment","z":"5e0dcbc3.aa3e5c","name":"Send to MQTT broker","info":"Send to MQTT broker","x":840,"y":20,"wires":[]},{"id":"ae09831d.1fae18","type":"comment","z":"5e0dcbc3.aa3e5c","name":"Subscribe topics on MQTT","info":"Subscribe topics on MQTT","x":150,"y":20,"wires":[]},{"id":"732a1982.52a0c","type":"comment","z":"5e0dcbc3.aa3e5c","name":"Transform message for Domoticz","info":"Transform message for Domoticz","x":470,"y":20,"wires":[]},{"id":"9f851c4.740316","type":"mqtt in","z":"5c494fe1.cdf86","name":"","topic":"TH/#","qos":"2","datatype":"auto","broker":"93fb2356.b25778","x":210,"y":180,"wires":[["9ee6de38.4fde2"]]},{"id":"5706512d.5de4c","type":"mqtt in","z":"5c494fe1.cdf86","name":"","topic":"NA/#","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":210,"y":240,"wires":[["9ee6de38.4fde2"]]},{"id":"e7b3d06a.67e3a8","type":"mqtt in","z":"5c494fe1.cdf86","name":"","topic":"domoticz/out","qos":"2","datatype":"auto","broker":"93fb2356.b25778","x":230,"y":300,"wires":[["580ac90e.89c95"]]},{"id":"540b6dbd.53a13c","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"kwh","topic":"ZW/6/50/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":600,"wires":[["9a79a34f.f2bdc"]]},{"id":"ceaa2036.646b08","type":"function","z":"5e0dcbc3.aa3e5c","name":"kwh","func":"varStatus = msg.payload.value * 1000.0;\nvar watt=global.get('watt') || 0;\nglobal.set('kwh',varStatus);\n\nmsg.payload = \"{\\\"idx\\\": 247, \\\"svalue\\\": \\\"\" + watt + \";\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":600,"wires":[[]]},{"id":"9a79a34f.f2bdc","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":600,"wires":[["ceaa2036.646b08"]]},{"id":"a059ff36.ba5f","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"watt","topic":"ZW/6/50/1/2","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":640,"wires":[["9446d5b3.c7805"]]},{"id":"9446d5b3.c7805","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":640,"wires":[["b1265ae0.873b18"]]},{"id":"b1265ae0.873b18","type":"function","z":"5e0dcbc3.aa3e5c","name":"watt","func":"varStatus = msg.payload.value;\nvar kwh=global.get('kwh') * 1.02 || 0;\nglobal.set('watt',varStatus);\n\nmsg.payload = \"{\\\"idx\\\": 247, \\\"svalue\\\": \\\"\" + varStatus + \";\" + kwh + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":640,"wires":[["20b559c2.9dfa8e"]]},{"id":"77d77453.ef48d4","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"volt","topic":"ZW/6/50/1/4","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":680,"wires":[["cede326d.25e7f"]]},{"id":"cede326d.25e7f","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":680,"wires":[["7bbd84af.cc11dc"]]},{"id":"7bbd84af.cc11dc","type":"function","z":"5e0dcbc3.aa3e5c","name":"volt","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 248, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":680,"wires":[["20b559c2.9dfa8e"]]},{"id":"af741834.28b8a","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Ampere","topic":"ZW/6/50/1/5","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":720,"wires":[["51148ce2.a69d3c"]]},{"id":"51148ce2.a69d3c","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":720,"wires":[["e627dc40.7f988"]]},{"id":"e627dc40.7f988","type":"function","z":"5e0dcbc3.aa3e5c","name":"courant","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 249, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["20b559c2.9dfa8e"]]},{"id":"ea0b027d.ee3eb","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Varh","topic":"ZW/6/50/1/9","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":760,"wires":[["5a0ddd8d.42dacc"]]},{"id":"5a0ddd8d.42dacc","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":760,"wires":[["aa36de06.df32c8"]]},{"id":"aa36de06.df32c8","type":"function","z":"5e0dcbc3.aa3e5c","name":"Varh","func":"varStatus = msg.payload.value * 1000.0;\nvar evar=global.get('evar') || 0;\nglobal.set('varh',varStatus);\n\nmsg.payload = \"{\\\"idx\\\": 250, \\\"svalue\\\": \\\"\" + evar + \";\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":760,"wires":[[]]},{"id":"c4b1c474.137a8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Var","topic":"ZW/6/50/1/8","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":800,"wires":[["e7ed060b.085b8"]]},{"id":"e7ed060b.085b8","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":800,"wires":[["a11655e1.0bf09"]]},{"id":"a11655e1.0bf09","type":"function","z":"5e0dcbc3.aa3e5c","name":"var","func":"varStatus = msg.payload.value * 1000.0;\nvar varh=global.get('varh') || 0;\nglobal.set('evar',varStatus);\n\nmsg.payload = \"{\\\"idx\\\": 250, \\\"svalue\\\": \\\"\" + varStatus + \";\" + varh + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":800,"wires":[["20b559c2.9dfa8e"]]},{"id":"b2abebe4.6600c8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"DoucheP","topic":"ZW/2/37/2/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":840,"wires":[["7d6d430.dc3a4bc"]]},{"id":"dd2c29b8.e2aa18","type":"function","z":"5e0dcbc3.aa3e5c","name":"DoucheP","func":"varStatus = msg.payload.value;\nswitch (varStatus) {\n  case true:\n    varStatus = \"On\"\n    break;\n  case false:\n    varStatus = \"Off\"\n}\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 251, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":840,"wires":[["20b559c2.9dfa8e"]]},{"id":"7d6d430.dc3a4bc","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":840,"wires":[["dd2c29b8.e2aa18"]]},{"id":"34786cf2.ddfc1c","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"DoucheM","topic":"ZW/2/37/3/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":880,"wires":[["f75d8fad.2d572"]]},{"id":"f75d8fad.2d572","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":880,"wires":[["bf9de7b5.8329a"]]},{"id":"bf9de7b5.8329a","type":"function","z":"5e0dcbc3.aa3e5c","name":"DoucheM","func":"varStatus = msg.payload.value;\nswitch (varStatus) {\n  case true:\n    varStatus = \"On\"\n    break;\n  case false:\n    varStatus = \"Off\"\n}\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 252, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":880,"wires":[["20b559c2.9dfa8e"]]},{"id":"6d1c32ff.a0a834","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempDouche","topic":"ZW/2/49/2/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":920,"wires":[["8ad967f6.2413e"]]},{"id":"8ad967f6.2413e","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":920,"wires":[["192fa0d6.99b31f"]]},{"id":"192fa0d6.99b31f","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempDouche","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 253, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["20b559c2.9dfa8e"]]},{"id":"a5140853.2def98","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempCombles","topic":"ZW/17/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":960,"wires":[["de801771.065498"]]},{"id":"de801771.065498","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":960,"wires":[["e288d2b3.94ce2"]]},{"id":"e288d2b3.94ce2","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempCombles","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 254, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":960,"wires":[["20b559c2.9dfa8e"]]},{"id":"a2dff64.bd45708","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempSdb","topic":"ZW/11/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1000,"wires":[["244ea83a.4ce9e"]]},{"id":"244ea83a.4ce9e","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1000,"wires":[["fed5c360.75357"]]},{"id":"fed5c360.75357","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempSdb","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 255, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1000,"wires":[["20b559c2.9dfa8e"]]},{"id":"eb594945.8924d8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Combles","topic":"ZW/4/37/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1320,"wires":[["13028c04.3598ac"]]},{"id":"3c6071b4.1b199e","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"ComblesInfo","topic":"ZW/4/37/2/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":1360,"wires":[["4f9e0741.0e6e1"]]},{"id":"13028c04.3598ac","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1320,"wires":[["36ef42b5.6733f6"]]},{"id":"4f9e0741.0e6e1","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1360,"wires":[["25cfaff2.06eda8"]]},{"id":"36ef42b5.6733f6","type":"function","z":"5e0dcbc3.aa3e5c","name":"Combles","func":"varStatus = msg.payload.value;\nswitch (varStatus) {\n  case true:\n    varStatus = \"On\"\n    break;\n  case false:\n    varStatus = \"Off\"\n}\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 256, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1320,"wires":[["20b559c2.9dfa8e"]]},{"id":"25cfaff2.06eda8","type":"function","z":"5e0dcbc3.aa3e5c","name":"ComblesInfo","func":"varStatus = msg.payload.value;\nswitch (varStatus) {\n  case true:\n    varStatus = \"On\"\n    break;\n  case false:\n    varStatus = \"Off\"\n}\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 257, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1360,"wires":[["20b559c2.9dfa8e"]]},{"id":"ce2c8ad8.9646a8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"verrendaVolets1","topic":"ZW/5/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":1400,"wires":[["fbe5347b.a8d3d8"]]},{"id":"fbe5347b.a8d3d8","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1400,"wires":[["576ac196.3337e"]]},{"id":"576ac196.3337e","type":"function","z":"5e0dcbc3.aa3e5c","name":"VerrendaVolets1","func":"varStatus = msg.payload.svalue1;\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 258, \\\"switchcmd\\\": \\\"Set Level\\\", \\\"level\\\" : \" + varStatus + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1400,"wires":[["20b559c2.9dfa8e"]]},{"id":"3101c2de.e34336","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"verrendaVolets2","topic":"ZW/12/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":1440,"wires":[["ea3878d3.37eb9"]]},{"id":"1e110cd4.6ebd7b","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"verrendaVolets3","topic":"ZW/13/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":1480,"wires":[["61dc52d6.56eb8c"]]},{"id":"ea3878d3.37eb9","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1440,"wires":[["a42198b.aee2168"]]},{"id":"61dc52d6.56eb8c","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1480,"wires":[["f7641093.8a017"]]},{"id":"a42198b.aee2168","type":"function","z":"5e0dcbc3.aa3e5c","name":"VerrendaVolets2","func":"varStatus = msg.payload.svalue1;\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 259, \\\"switchcmd\\\": \\\"Set Level\\\", \\\"level\\\" : \" + varStatus + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1440,"wires":[["20b559c2.9dfa8e"]]},{"id":"f7641093.8a017","type":"function","z":"5e0dcbc3.aa3e5c","name":"VerrendaVolets3","func":"varStatus = msg.payload.svalue1;\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 260, \\\"switchcmd\\\": \\\"Set Level\\\", \\\"level\\\" : \" + varStatus + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1480,"wires":[["20b559c2.9dfa8e"]]},{"id":"d8161495.75eef","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Temp Chauffage","topic":"TH/boiler/temp","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":300,"wires":[["8be4690f.099a"]]},{"id":"8be4690f.099a","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set boiler temp","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 261, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["20b559c2.9dfa8e"]]},{"id":"81bdb455.dc4808","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Temp ECS","topic":"TH/ECS/temp","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":340,"wires":[["6b3da025.54e3d"]]},{"id":"6b3da025.54e3d","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set ECS temp","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 262, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["20b559c2.9dfa8e"]]},{"id":"5c86f0e.953b99","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"bruleur","topic":"TH/flame/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":170,"y":380,"wires":[["a7860191.c28dc"]]},{"id":"27547436.89d6fc","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"ECS state","topic":"TH/ECS/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":420,"wires":[["c834a2ec.dce888"]]},{"id":"c834a2ec.dce888","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set ECS state","func":"varStatus = msg.payload.replace('OFF', 'Off').replace('ON', 'On');\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 264, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":420,"wires":[["20b559c2.9dfa8e"]]},{"id":"f41a49ba.e20a98","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"boiler state","topic":"TH/boiler/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":460,"wires":[["a1317b85.6365b"]]},{"id":"a1317b85.6365b","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set boiler state","func":"varStatus = msg.payload.replace('OFF', 'Off').replace('ON', 'On');\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 265, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["20b559c2.9dfa8e"]]},{"id":"49d9b70c.8e3258","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"modulation","topic":"TH/boiler/modulation","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":500,"wires":[["e76979d8.2ed5b"]]},{"id":"e76979d8.2ed5b","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set modulation","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 266, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["20b559c2.9dfa8e"]]},{"id":"19508d94.72ce52","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Temp ExtNE","topic":"TH/ext/temp","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":540,"wires":[["c693ef12.f5e6c"]]},{"id":"56110d84.ff5224","type":"function","z":"5e0dcbc3.aa3e5c","name":"Temp ExtNE","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 267, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["20b559c2.9dfa8e"]]},{"id":"9aa50b89.8eb2d","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"radiateur douche","topic":"ZW/3/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":1520,"wires":[["2d359bce.8905cc"]]},{"id":"2d359bce.8905cc","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1520,"wires":[["602d336c.1c9e7c"]]},{"id":"602d336c.1c9e7c","type":"function","z":"5e0dcbc3.aa3e5c","name":"radiateur douche","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 268, \\\"switchcmd\\\": \\\"Set Level\\\", \\\"level\\\" : \" + varStatus + \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1520,"wires":[["20b559c2.9dfa8e"]]},{"id":"34ea42dc.8a43b6","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"Temp piscine","topic":"blueriiot/pool_832e70f1-b869-46f2-bde5-b09d671f42dc/temperature/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":1580,"wires":[["b22608f6.564bb8"]]},{"id":"b22608f6.564bb8","type":"function","z":"5e0dcbc3.aa3e5c","name":"Temp piscine","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 146, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1580,"wires":[["20b559c2.9dfa8e"]]},{"id":"88656ee4.9403a8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"PH piscine","topic":"blueriiot/pool_832e70f1-b869-46f2-bde5-b09d671f42dc/ph/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1620,"wires":[["1833a35a.7fcdfd"]]},{"id":"1833a35a.7fcdfd","type":"function","z":"5e0dcbc3.aa3e5c","name":"PH piscine","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 147, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1620,"wires":[["20b559c2.9dfa8e"]]},{"id":"84a6d418.2e2f7","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"orp piscine","topic":"blueriiot/pool_832e70f1-b869-46f2-bde5-b09d671f42dc/orp/state","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1660,"wires":[["5b801322.965e54"]]},{"id":"5b801322.965e54","type":"function","z":"5e0dcbc3.aa3e5c","name":"orp piscine","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 148, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1660,"wires":[["20b559c2.9dfa8e"]]},{"id":"5b0b0c6b.73b2f4","type":"json","z":"59bdc562.6ab37c","name":"domoticz_mqtt_json","property":"payload","action":"","pretty":false,"x":300,"y":420,"wires":[["b8e891d4.6374a"]]},{"id":"55c543c1.fbdee4","type":"function","z":"59bdc562.6ab37c","name":"DoucheP","func":"varStatus = msg.payload;\n\nmsg.topic = \"ZW/2/37/2/0/set\";\nmsg.payload = varStatus.nvalue;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["a149d58e.f31328"]]},{"id":"b8e891d4.6374a","type":"switch","z":"59bdc562.6ab37c","name":"","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"251","vt":"str"},{"t":"eq","v":"252","vt":"str"},{"t":"eq","v":"256","vt":"str"},{"t":"eq","v":"257","vt":"str"},{"t":"eq","v":"258","vt":"str"},{"t":"eq","v":"259","vt":"str"},{"t":"eq","v":"260","vt":"str"},{"t":"eq","v":"268","vt":"str"},{"t":"eq","v":"120","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"329","vt":"str"},{"t":"eq","v":"351","vt":"str"},{"t":"eq","v":"352","vt":"str"},{"t":"eq","v":"353","vt":"str"},{"t":"eq","v":"354","vt":"str"},{"t":"eq","v":"355","vt":"str"},{"t":"eq","v":"356","vt":"str"},{"t":"eq","v":"342","vt":"str"}],"checkall":"true","repair":false,"outputs":18,"x":470,"y":420,"wires":[["55c543c1.fbdee4"],["5f9b0055.9d4db8"],["897dcbf1.db2a98"],["502299b2.c1a338"],["adc2acab.360fb"],["e5a75c15.9f219"],["d1f53e13.8b9cd8"],["f7b060bd.119d2"],["eb7fb6.8e97d048"],["5c876515.a18b34"],["6dbaf8b6.82b6d"],["9a110cc4.15e498"],["c1d63ec2.147348"],["855d9fbd.8ec8d8"],["a4854205.c15398"],["e8c5cf34.09dd18"],["84f9554c.a7f4e8"],["198f0dd0.17148a"]]},{"id":"eb7fb6.8e97d048","type":"function","z":"59bdc562.6ab37c","name":"TempBureau","func":"varStatus = msg.payload;\n\nmsg.topic = \"T/bureau\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["a149d58e.f31328"]]},{"id":"5f9b0055.9d4db8","type":"function","z":"59bdc562.6ab37c","name":"DoucheP","func":"varStatus = msg.payload;\n\nmsg.topic = \"ZW/2/37/3/0/set\";\nmsg.payload = varStatus.nvalue;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["a149d58e.f31328"]]},{"id":"897dcbf1.db2a98","type":"function","z":"59bdc562.6ab37c","name":"Combles","func":"varStatus = msg.payload;\n\nmsg.topic = \"ZW/4/37/1/0/set\";\nmsg.payload = varStatus.nvalue;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["a149d58e.f31328"]]},{"id":"502299b2.c1a338","type":"function","z":"59bdc562.6ab37c","name":"ComblesInfo","func":"varStatus = msg.payload;\n\nmsg.topic = \"ZW/4/37/2/0/set\";\nmsg.payload = varStatus.nvalue;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["a149d58e.f31328"]]},{"id":"adc2acab.360fb","type":"function","z":"59bdc562.6ab37c","name":"VerrandaVolets1","func":"var pourcent = 100;\nswitch (msg.payload.nvalue){\n    case 0 :\n        pourcent = 0;\n        break;\n    case 1 :\n        pourcent = 100;\n        break;\n    case 2 :\n        pourcent = msg.payload.svalue1;\n        break;\n}\n\nif (pourcent >= 100) pourcent = 99;\n\nmsg.payload = pourcent;\nmsg.topic = \"ZW/5/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":240,"wires":[["a149d58e.f31328"]]},{"id":"e5a75c15.9f219","type":"function","z":"59bdc562.6ab37c","name":"VerrandaVolets2","func":"var pourcent = 100;\nswitch (msg.payload.nvalue){\n    case 0 :\n        pourcent = 0;\n        break;\n    case 1 :\n        pourcent = 100;\n        break;\n    case 2 :\n        pourcent = msg.payload.svalue1;\n        break;\n}\n\nif (pourcent >= 100) pourcent = 99;\n\nmsg.payload = pourcent;\nmsg.topic = \"ZW/12/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":280,"wires":[["a149d58e.f31328"]]},{"id":"d1f53e13.8b9cd8","type":"function","z":"59bdc562.6ab37c","name":"VerrandaVolets3","func":"var pourcent = 100;\nswitch (msg.payload.nvalue){\n    case 0 :\n        pourcent = 0;\n        break;\n    case 1 :\n        pourcent = 100;\n        break;\n    case 2 :\n        pourcent = msg.payload.svalue1;\n        break;\n}\n\nif (pourcent >= 100) pourcent = 99;\n\nmsg.payload = pourcent;\nmsg.topic = \"ZW/13/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["a149d58e.f31328"]]},{"id":"f7b060bd.119d2","type":"function","z":"59bdc562.6ab37c","name":"radiateur douche","func":"var pourcent = 100;\nswitch (msg.payload.nvalue){\n    case 0 :\n        pourcent = 0;\n        break;\n    case 1 :\n        pourcent = 100;\n        break;\n    case 2 :\n        pourcent = msg.payload.svalue1;\n        break;\n}\n\nif (pourcent >= 100) pourcent = 99;\n\nmsg.payload = pourcent;\nmsg.topic = \"ZW/3/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":360,"wires":[["a149d58e.f31328"]]},{"id":"a149d58e.f31328","type":"mqtt out","z":"59bdc562.6ab37c","name":"Send MQTT","topic":"","qos":"","retain":"","broker":"93fb2356.b25778","x":1150,"y":400,"wires":[]},{"id":"50ed500c.c2f6e","type":"influxdb out","z":"5c494fe1.cdf86","influxdb":"8c5b23c0.6fce88","name":"","measurement":"objects","precision":"","retentionPolicy":"","database":"meze","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":240,"wires":[]},{"id":"9ee6de38.4fde2","type":"function","z":"5c494fe1.cdf86","name":"Create query topic/value","func":"var newPayload = {};\ntimestamp = new Date();\n\nnewPayload.label=msg.topic;\nnewPayload.value=msg.payload;\n//newPayload.timestamp = timestamp;\n\nmsg.payload=newPayload;\nmsg.measurement=\"objects\";\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["50ed500c.c2f6e"]]},{"id":"580ac90e.89c95","type":"json","z":"5c494fe1.cdf86","name":"","property":"payload","action":"","pretty":false,"x":530,"y":300,"wires":[["7306362a.9ee32"]]},{"id":"7306362a.9ee32","type":"influxdb out","z":"5c494fe1.cdf86","influxdb":"8c5b23c0.6fce88","name":"","measurement":"domoticz","precision":"","retentionPolicy":"","database":"meze","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":950,"y":300,"wires":[]},{"id":"6ac188a8.2b942","type":"mqtt in","z":"5c494fe1.cdf86","name":"","topic":"ZW/#","qos":"2","datatype":"auto","broker":"93fb2356.b25778","x":210,"y":440,"wires":[["8c5def79.7966a8"]]},{"id":"74872f3d.cbad","type":"json","z":"5c494fe1.cdf86","name":"","property":"payload","action":"","pretty":false,"x":510,"y":440,"wires":[["1144fff.8e1878"]]},{"id":"953c9422.d3635","type":"influxdb out","z":"5c494fe1.cdf86","influxdb":"8c5b23c0.6fce88","name":"","measurement":"zwave","precision":"","retentionPolicy":"","database":"meze","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":440,"wires":[]},{"id":"8c5def79.7966a8","type":"function","z":"5c494fe1.cdf86","name":"extrait sous-noeud","func":"var reg=new RegExp(\"[/]+\", \"g\");\nmsg.id = msg.topic.split(reg)[4];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["add0a728.6eadc8"]]},{"id":"add0a728.6eadc8","type":"switch","z":"5c494fe1.cdf86","name":"","property":"id","propertyType":"msg","rules":[{"t":"neq","v":"256","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":500,"wires":[["74872f3d.cbad"]]},{"id":"1144fff.8e1878","type":"function","z":"5c494fe1.cdf86","name":"true-false","func":"msg.payload.value = Number(msg.payload.value)\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["953c9422.d3635"]]},{"id":"449e0254.a4de9c","type":"switch","z":"59bdc562.6ab37c","name":"","property":"payload.nvalue","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":550,"y":800,"wires":[["c18c16c9.0541e"]]},{"id":"c7c0d080.953f","type":"function","z":"59bdc562.6ab37c","name":"scene Soir","func":"varStatus = msg.payload;\n\nglobal.set('soir',true);\n\nmsg.topic = \"DZ/in\";\nmsg.payload = \"{\\\"command\\\":\\\"switchscene\\\",\\\"idx\\\":3,\\\"switchcmd\\\":\\\"On\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["a149d58e.f31328"]]},{"id":"198f0dd0.17148a","type":"time-range-switch","z":"59bdc562.6ab37c","name":"","lat":"43.427","lon":"3.596","startTime":"solarNoon","endTime":"sunset","startOffset":0,"endOffset":0,"x":370,"y":820,"wires":[["449e0254.a4de9c"],["777523f3.125424"]]},{"id":"777523f3.125424","type":"function","z":"59bdc562.6ab37c","name":"global","func":"\nglobal.set('soir',false);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":860,"wires":[[]]},{"id":"c18c16c9.0541e","type":"switch","z":"59bdc562.6ab37c","name":"global","property":"soir","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":800,"wires":[["c7c0d080.953f"]]},{"id":"5c876515.a18b34","type":"function","z":"59bdc562.6ab37c","name":"TempEntree","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/temp/entree\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["a149d58e.f31328"]]},{"id":"ea778bed.6f7e88","type":"mqtt in","z":"59bdc562.6ab37c","name":"domoticz_out","topic":"DZ/out","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":90,"y":420,"wires":[["5b0b0c6b.73b2f4"]]},{"id":"20b559c2.9dfa8e","type":"function","z":"5e0dcbc3.aa3e5c","name":"topic domoticz","func":"msg.topic = \"DZ/in\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1060,"wires":[["c59d8fbf.b9d55","6897af53.bad7f8"]]},{"id":"6897af53.bad7f8","type":"debug","z":"5e0dcbc3.aa3e5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":420,"wires":[]},{"id":"a7860191.c28dc","type":"function","z":"5e0dcbc3.aa3e5c","name":"Set flame state","func":"varStatus = msg.payload.replace('OFF', 'Off').replace('ON', 'On');\n\nmsg.payload = \"{\\\"command\\\": \\\"switchlight\\\", \\\"idx\\\": 263, \\\"switchcmd\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["20b559c2.9dfa8e"]]},{"id":"d9771406.eb2808","type":"PID","z":"e9177b3e.ed3a3","name":"Principales","setpoint":"18.5","pb":"2","ti":"1200","td":"0","integral_default":"0.1","smooth_factor":"2","max_interval":"300","enable":1,"disabled_op":0,"x":430,"y":220,"wires":[["985cec09.f9c61"]]},{"id":"985cec09.f9c61","type":"function","z":"e9177b3e.ed3a3","name":"PIDsalon","func":"global.set('PIDsalon',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["60588d9c.9dac24"]]},{"id":"b1ffc1f9.55fe68","type":"mqtt in","z":"e9177b3e.ed3a3","name":"TempEntree","topic":"TH/temp/entree","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":90,"y":80,"wires":[["cbe28c81.3695"]]},{"id":"34b3fe4a.60868a","type":"mqtt in","z":"e9177b3e.ed3a3","name":"TempSalon1","topic":"TH/temp/salon1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":90,"y":120,"wires":[["b58a5d86.eee62"]]},{"id":"262c16e3.406b32","type":"PID","z":"e9177b3e.ed3a3","name":"Suite","setpoint":"18.5","pb":"1.5","ti":"1200","td":"0","integral_default":"0.1","smooth_factor":"2","max_interval":"600","enable":1,"disabled_op":0,"x":410,"y":380,"wires":[["44edf885.a8c0d"]]},{"id":"44edf885.a8c0d","type":"function","z":"e9177b3e.ed3a3","name":"PIDsuite","func":"global.set('PIDsuite',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["7dbe8741.994d78"]]},{"id":"6827ee12.1d4f48","type":"PID","z":"e9177b3e.ed3a3","name":"Amis","setpoint":"18.5","pb":"2","ti":"1200","td":"0","integral_default":"0.1","smooth_factor":"2","max_interval":"600","enable":1,"disabled_op":0,"x":410,"y":540,"wires":[["ede85b0b.a068e8"]]},{"id":"ede85b0b.a068e8","type":"function","z":"e9177b3e.ed3a3","name":"PIDamis","func":"global.set('PIDamis',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["990d662f.d4a7a"]]},{"id":"6dbaf8b6.82b6d","type":"function","z":"59bdc562.6ab37c","name":"tempSalon1","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/temp/salon1\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":480,"wires":[["a149d58e.f31328"]]},{"id":"adf702e5.10ada","type":"inject","z":"e9177b3e.ed3a3","name":"tempMoyenne","topic":"","payload":"principale","payloadType":"global","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":120,"y":220,"wires":[["d9771406.eb2808"]]},{"id":"7b04644b.6ae27c","type":"function","z":"e9177b3e.ed3a3","name":"tempCuisine","func":"global.set('tempCuisine',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":40,"wires":[["e69002e5.cc93a8"]]},{"id":"8a5c3640.5eb398","type":"function","z":"e9177b3e.ed3a3","name":"tempEntree","func":"global.set('tempEntree',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":80,"wires":[["e69002e5.cc93a8"]]},{"id":"c82cbf23.5cfb2","type":"function","z":"e9177b3e.ed3a3","name":"tempSalon1","func":"global.set('tempSalon1',parseFloat(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["e69002e5.cc93a8"]]},{"id":"e69002e5.cc93a8","type":"function","z":"e9177b3e.ed3a3","name":"moyenne","func":"temp = (global.get('tempCuisine') + global.get('tempEntree') + global.get('tempSalon1')) / 3;\n//temp = (global.get('tempCuisine') + global.get('tempSalon1')) / 2;\nglobal.set('principale',temp);","outputs":1,"noerr":0,"x":920,"y":80,"wires":[[]]},{"id":"9a110cc4.15e498","type":"function","z":"59bdc562.6ab37c","name":"SPsuite","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/setpoint/suite\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":520,"wires":[["a149d58e.f31328"]]},{"id":"c1d63ec2.147348","type":"function","z":"59bdc562.6ab37c","name":"SPsalon1","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/setpoint/salon1\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":560,"wires":[["a149d58e.f31328"]]},{"id":"855d9fbd.8ec8d8","type":"function","z":"59bdc562.6ab37c","name":"SPamis","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/setpoint/amis\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":600,"wires":[["a149d58e.f31328"]]},{"id":"a4854205.c15398","type":"function","z":"59bdc562.6ab37c","name":"SPbureau","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/setpoint/bureau\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["a149d58e.f31328"]]},{"id":"63bf2ca2.4abc74","type":"mqtt in","z":"e9177b3e.ed3a3","name":"SPsalon1","topic":"TH/setpoint/salon1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":80,"y":260,"wires":[["7f2d32e8.28f2b4"]]},{"id":"7f2d32e8.28f2b4","type":"function","z":"e9177b3e.ed3a3","name":"SPprincipale","func":"temp = parseFloat(msg.payload);\nmsg.topic=\"setpoint\";\nmsg.payload=temp\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["d9771406.eb2808"]]},{"id":"e3bb8801.2724a","type":"mqtt in","z":"e9177b3e.ed3a3","name":"SPsuite","topic":"TH/setpoint/suite","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":70,"y":440,"wires":[["be3ac644.553bc8"]]},{"id":"be3ac644.553bc8","type":"function","z":"e9177b3e.ed3a3","name":"SPsuite","func":"temp = parseFloat(msg.payload);\nmsg.topic=\"setpoint\";\nmsg.payload=temp\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":440,"wires":[["262c16e3.406b32","a5f184b5.0601e8"]]},{"id":"dcafd77e.9b91d8","type":"mqtt in","z":"e9177b3e.ed3a3","name":"SPamis","topic":"TH/setpoint/amis","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":70,"y":580,"wires":[["351825de.91f072"]]},{"id":"351825de.91f072","type":"function","z":"e9177b3e.ed3a3","name":"SPamis","func":"temp = parseFloat(msg.payload);\nmsg.topic=\"setpoint\";\nmsg.payload=temp\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":580,"wires":[["6827ee12.1d4f48"]]},{"id":"7dbe8741.994d78","type":"function","z":"e9177b3e.ed3a3","name":"VanneSuite","func":"val = Math.round(msg.payload * 200);\nif ( val > 50 ) {val =99}\nif ( val < 50 && val > 1 ) {val =50}\nif (global.get('PIDamis') === 0 && global.get('PIDsalon') === 0)  {val = 99}\nmsg.payload = val;\nmsg.topic = \"ZW/7/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["9bee4b8e.e7ae7"]]},{"id":"9bee4b8e.e7ae7","type":"mqtt out","z":"e9177b3e.ed3a3","name":"Send MQTT","topic":"","qos":"","retain":"","broker":"93fb2356.b25778","x":1230,"y":520,"wires":[]},{"id":"a5f184b5.0601e8","type":"function","z":"e9177b3e.ed3a3","name":"VanneSdb","func":"temp = parseFloat(msg.payload)\nmsg.payload = temp + 3.0;\nmsg.topic = \"ZW/11/67/1/1/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["9bee4b8e.e7ae7"]]},{"id":"917bfa38.50bc48","type":"inject","z":"e9177b3e.ed3a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"120","x":110,"y":680,"wires":[["7ee947e3.ec0488"]]},{"id":"7ee947e3.ec0488","type":"function","z":"e9177b3e.ed3a3","name":"calcChauff","func":"tempExt = global.get('tempExt');\ntempMax = 30;\nif (tempExt < 20) {\n    tempMax = ((20 - tempExt) * 3) + 30;\n}\nif (tempMax > 75) {tempMax = 75}\n \ntempBoiler = 0;\nPuissance = ((global.get('PIDsalon') * 2) + (global.get('PIDsuite') * 1.7) + global.get('PIDamis')) / 3\nif (Puissance > 1) {Puissance = 1}\nif (Puissance > 0) {\n    tempBoiler = ((tempMax - 25) * Puissance) + 25;\n}\nmsg.payload = tempBoiler;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":680,"wires":[["280893be.56c364"]]},{"id":"c693ef12.f5e6c","type":"function","z":"5e0dcbc3.aa3e5c","name":"tempExt","func":"global.set('tempExt',parseFloat(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":540,"wires":[["56110d84.ff5224"]]},{"id":"280893be.56c364","type":"switch","z":"e9177b3e.ed3a3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"27","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":680,"wires":[["e213433.b49b0c"],["b03f6108.b25aa","ae234859.72bcf8"]]},{"id":"b03f6108.b25aa","type":"function","z":"e9177b3e.ed3a3","name":"Boiler ON","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/consigne/boiler/state\";\nmsg.payload = 1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":680,"wires":[["9bee4b8e.e7ae7"]]},{"id":"ae234859.72bcf8","type":"function","z":"e9177b3e.ed3a3","name":"BoilerTemp","func":"varStatus = Math.round(msg.payload);\n\nmsg.topic = \"TH/consigne/boiler/temp\";\nmsg.payload = \"\" + varStatus;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["9bee4b8e.e7ae7"]]},{"id":"e213433.b49b0c","type":"function","z":"e9177b3e.ed3a3","name":"Boiler OFF","func":"msg.topic = \"TH/consigne/boiler/state\";\nmsg.payload = 0;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":640,"wires":[["9bee4b8e.e7ae7"]]},{"id":"84f9554c.a7f4e8","type":"function","z":"59bdc562.6ab37c","name":"ECS en","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/consigne/ECS/state\";\nmsg.payload = varStatus.nvalue;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":720,"wires":[["a149d58e.f31328"]]},{"id":"e8c5cf34.09dd18","type":"function","z":"59bdc562.6ab37c","name":"consigne ECS","func":"varStatus = msg.payload;\n\nmsg.topic = \"TH/consigne/ECS/temp\";\nmsg.payload = \"\" + varStatus.svalue1;\nmsg.retain = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":680,"wires":[["a149d58e.f31328"]]},{"id":"ac1303e4.51a7c8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"valveSdb","topic":"ZW/11/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1040,"wires":[["28a81a94.f9c9ee"]]},{"id":"28a81a94.f9c9ee","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1040,"wires":[["47eeca5a.823664"]]},{"id":"47eeca5a.823664","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempSdb","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 357, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1040,"wires":[["20b559c2.9dfa8e"]]},{"id":"5a436619.dccc3","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempSuite","topic":"ZW/7/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1080,"wires":[["3aeb7942.ccff66"]]},{"id":"3aeb7942.ccff66","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1080,"wires":[["ef0925a6.15e3f8"]]},{"id":"ef0925a6.15e3f8","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempSuite","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 149, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["20b559c2.9dfa8e"]]},{"id":"d33711e4.204408","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"valveSuite","topic":"ZW/7/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1120,"wires":[["d73d012c.c28ce"]]},{"id":"d73d012c.c28ce","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1120,"wires":[["10b2a8c8.4e212f"]]},{"id":"10b2a8c8.4e212f","type":"function","z":"5e0dcbc3.aa3e5c","name":"ValveSuite","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 358, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1120,"wires":[["20b559c2.9dfa8e"]]},{"id":"582e0380.9af88c","type":"mqtt in","z":"e9177b3e.ed3a3","name":"TempSuite","topic":"ZW/7/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":80,"y":320,"wires":[["c9139812.25946"]]},{"id":"c9139812.25946","type":"json","z":"e9177b3e.ed3a3","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":250,"y":320,"wires":[["b1b238c2.56b248"]]},{"id":"b1b238c2.56b248","type":"function","z":"e9177b3e.ed3a3","name":"TempSuite","func":"varStatus = msg.payload.value;\n\nmsg.payload = varStatus;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["c93f1c55.58924"]]},{"id":"c93f1c55.58924","type":"function","z":"e9177b3e.ed3a3","name":"tempSuite","func":"global.set('tempSuite',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[[]]},{"id":"14f022d5.7ac145","type":"function","z":"e9177b3e.ed3a3","name":"tempAmis","func":"global.set('tempAmis',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[[]]},{"id":"651c201a.097e","type":"inject","z":"e9177b3e.ed3a3","name":"tempSuite","topic":"","payload":"tempSuite","payloadType":"global","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":90,"y":380,"wires":[["262c16e3.406b32"]]},{"id":"8251f958.0675d8","type":"mqtt in","z":"e9177b3e.ed3a3","name":"TempAmis","topic":"ZW/8/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":80,"y":500,"wires":[["686b62e0.bba14c"]]},{"id":"686b62e0.bba14c","type":"json","z":"e9177b3e.ed3a3","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":250,"y":500,"wires":[["794d759c.654b5c"]]},{"id":"794d759c.654b5c","type":"function","z":"e9177b3e.ed3a3","name":"TempAmis","func":"varStatus = msg.payload.value;\n\nmsg.payload = varStatus;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["14f022d5.7ac145"]]},{"id":"55c8995f.8abf3","type":"inject","z":"e9177b3e.ed3a3","name":"tempAmis","topic":"","payload":"tempAmis","payloadType":"global","repeat":"60","crontab":"","once":true,"onceDelay":"10","x":110,"y":540,"wires":[["6827ee12.1d4f48"]]},{"id":"990d662f.d4a7a","type":"function","z":"e9177b3e.ed3a3","name":"VanneAmis","func":"val = Math.round(msg.payload * 200);\nif ( val > 50 ) {val =99}\nif ( val < 50 && val > 1 ) {val =50}\nmsg.payload = val;\nmsg.topic = \"ZW/8/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":540,"wires":[["9bee4b8e.e7ae7"]]},{"id":"56a55cb5.54744c","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempAmis","topic":"ZW/8/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1160,"wires":[["7c725fe2.a06828"]]},{"id":"7c725fe2.a06828","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1160,"wires":[["fa859040.45ee78"]]},{"id":"fa859040.45ee78","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempAmis","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 150, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1160,"wires":[["20b559c2.9dfa8e"]]},{"id":"9e8160e0.401c28","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"valveAmis","topic":"ZW/8/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1200,"wires":[["7db48916.b71d4"]]},{"id":"7db48916.b71d4","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1200,"wires":[["6d8a19da.ddf6e"]]},{"id":"6d8a19da.ddf6e","type":"function","z":"5e0dcbc3.aa3e5c","name":"ValveAmis","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 359, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1200,"wires":[["20b559c2.9dfa8e"]]},{"id":"57376f7a.af2b5","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"TempHCuisine","topic":"ZW/9/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":200,"y":1240,"wires":[["c0075796.0a868"]]},{"id":"c0075796.0a868","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1240,"wires":[["2c170693.79fe62"]]},{"id":"2c170693.79fe62","type":"function","z":"5e0dcbc3.aa3e5c","name":"TempHCuisine","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 361, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1240,"wires":[["20b559c2.9dfa8e"]]},{"id":"37929034.a8a1f","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"valveHcuisine","topic":"ZW/9/38/1/0","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":1280,"wires":[["317dcc66.f95ba4"]]},{"id":"317dcc66.f95ba4","type":"json","z":"5e0dcbc3.aa3e5c","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":410,"y":1280,"wires":[["552e878f.18f88"]]},{"id":"552e878f.18f88","type":"function","z":"5e0dcbc3.aa3e5c","name":"ValveAmis","func":"varStatus = msg.payload.value;\n\nmsg.payload = \"{\\\"idx\\\": 360, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1280,"wires":[["20b559c2.9dfa8e"]]},{"id":"ced258c0.e896b8","type":"mqtt in","z":"e9177b3e.ed3a3","name":"TempHCuisine","topic":"ZW/9/49/1/1","qos":"0","datatype":"auto","broker":"93fb2356.b25778","x":100,"y":40,"wires":[["c2b98d63.32c698"]]},{"id":"c2b98d63.32c698","type":"json","z":"e9177b3e.ed3a3","name":"zwave_mqtt_json","property":"payload","action":"","pretty":false,"x":290,"y":40,"wires":[["159e4031.64865"]]},{"id":"159e4031.64865","type":"function","z":"e9177b3e.ed3a3","name":"TempHCuisine","func":"varStatus = msg.payload.value;\n\nmsg.payload = varStatus;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":40,"wires":[["7b04644b.6ae27c"]]},{"id":"60588d9c.9dac24","type":"function","z":"e9177b3e.ed3a3","name":"VanneHCuisine","func":"val = Math.round(msg.payload * 20) * 5;\n\nif ( val < 30 ) {val =30}\nif (global.get('PIDamis') === 0 && global.get('PIDsuite') === 0)  {val = 99}\n\nmsg.payload = val;\nmsg.topic = \"ZW/9/38/1/0/set\";\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":220,"wires":[["9bee4b8e.e7ae7"]]},{"id":"ca9789ed.4f61d","type":"inject","z":"e9177b3e.ed3a3","name":"test","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"10","x":410,"y":160,"wires":[["8a5c3640.5eb398"]]},{"id":"b58a5d86.eee62","type":"switch","z":"e9177b3e.ed3a3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"},{"t":"gte","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":120,"wires":[[],["c82cbf23.5cfb2"]]},{"id":"b16cba63.88b638","type":"switch","z":"e9177b3e.ed3a3","name":"isumber","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":80,"wires":[["8a5c3640.5eb398"]]},{"id":"86305768.0607b8","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"BatteryV","topic":"MP/status/battery_voltage/value","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":180,"y":1740,"wires":[["ea24c781.b9d84"]]},{"id":"ea24c781.b9d84","type":"function","z":"5e0dcbc3.aa3e5c","name":"BatterieV","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 380, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1740,"wires":[["20b559c2.9dfa8e"]]},{"id":"3dc2d6b5.4faaa2","type":"mqtt in","z":"5e0dcbc3.aa3e5c","name":"AcActPower","topic":"MP/status/ac_output_active_power/value","qos":"1","datatype":"auto","broker":"93fb2356.b25778","x":190,"y":1780,"wires":[["20ce6ef4.e7617a"]]},{"id":"20ce6ef4.e7617a","type":"function","z":"5e0dcbc3.aa3e5c","name":"AcActPower","func":"varStatus = msg.payload;\n\nmsg.payload = \"{\\\"idx\\\": 381, \\\"svalue\\\": \\\"\" + varStatus + \"\\\" }\";\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1780,"wires":[["20b559c2.9dfa8e"]]},{"id":"cbe28c81.3695","type":"function","z":"e9177b3e.ed3a3","name":"to number","func":"varStatus = parseFloat(msg.payload);\n\nmsg.payload = varStatus;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["b16cba63.88b638"]]}]